---
---
<!-- Same format as default, but needed to avoid giving the content the "container" class -->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png"/>
    <title>News</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <!-- inserts the html from /_includes/navigation.html -->
    {% include navigation.html %}
    <!-- "Home" controls the format of the first image -->
    <div class="firstImg">
        <img src="/assets/images/news.png">
        <!-- animated caret icon-->
        <span class="caret">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 8 8">
            <path d="M0 0l4 4 4-4h-8z" transform="translate(0 2)" />
          </svg>
        </span>
        <!-- Header text -->
        <div class="imgTxt">
          <h2>Bolsa Grande</h2>
          <h1>STEM</h1>
          <h3>Science.|</h3>  

        </div>
    </div>
    <!-- Start of info section -->
    <!-- Each container class is one info section -->
    <div class="container">
      <div class="row mb-5 text-center">
        <div class="col-12 col-sm-6 my-auto pt-5">
          <img class="img-fluid" src="assets/images/home_page/hp1.png">
        </div>
        <div class="col-12 col-sm-6 my-auto pt-5">
            <h1>What We Do</h1>
            <p>Bolsa Grande STEM strives to offer students a learning environment and get hands-on experience in STEM fields, be it by constructing engineering projects, coding complex algorithms, or participating in exhilarating and meaningful icebreakers—all with the goal to excel in those fields.</p>
            <a class="alink shadow btn btn-primary rounded-pill px-4 py-2">Learn More
              <!-- arrow icon -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 8 8">
                <path class="arrow" d="M5 0v2h-5v1h5v2l3-2.53-3-2.47z" transform="translate(0 1)"/>
              </svg>
            </a>
        </div>
        
      </div>
    </div>
    <!-- middle section -->
    <div class="bg-secondary py-5 my-3">
      <div class="mx-auto container row mt-5 text-center g-5">
        <div class="col-12 col-sm-6 my-auto text-white">
            <h1>Larger Associations</h1>
            <p>Every year, STEM provides students opportunities to expand and apply their knowledge through a variety of projects and competitions from different organizations. STEM’s two main competitions, MESA and Sidelines, both require students to design, build, and work in teams to make real-life, practical devices.</p>
            <a class="alink shadow btn btn-primary rounded-pill px-4 py-2">Projects
              <!-- arrow icon -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 8 8">
                <path class="arrow" d="M5 0v2h-5v1h5v2l3-2.53-3-2.47z" transform="translate(0 1)" />
              </svg>
            </a>
        </div>
        <div class="col-12 col-sm-6 justify-content-center">
          <div class="col-12 p-0">
            <img class="bg-white rounded-3 mx-auto img-fluid" src="assets/images/home_page/MESAHomeHeader.png"  alt="MESA Logo">
          </div>
          <div class="row mt-3 justify-content-between">
            <img class="col-4 img-fluid" src="assets/images/home_page/Sidelines.png" alt="">
            <img class="col-4 img-fluid" src="assets/images/home_page/UCI.png" alt="">
            <img class="col-4 img-fluid" src="assets/images/home_page/Code_B_logo.png" alt="">
          </div>  
        </div>
      </div>
    </div>
    <!-- third section -->
    <div class="container gy-5">
      <div class="row my-5 text-center">
        <div class="col-12 col-sm-6">
          <img class="img-fluid" src="assets/images/home_page/hp6.png">
        </div>
        <div class="col-12 col-sm-6 my-auto">
            <h1>Become a Member</h1>
            <a class="alink shadow btn btn-primary rounded-pill px-4 py-2">Join Now
              <!-- arrow icon -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 8 8">
                <path class="arrow" d="M5 0v2h-5v1h5v2l3-2.53-3-2.47z" transform="translate(0 1)" />
              </svg>
            </a>
        </div>
        
      </div>
    </div>
    <!-- End of info section -->


    <!-- Inserts footer.html -->
    {% include footer.html %}

    <!-- scripts from bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>
