<!-- potential code for a footer -->
<div class="footer container">
    <img src="/assets/images/STEMLOGO.png">
    <h5>Bolsa Grande High School</h5>
        <div class="d-flex flex-row justify-content-center"><span class="p-2"><img src="/assets/images/fb-icon.png"></span><span class="p-2"><img src="/assets/images/ig-icon.png"></span><span class="p-2"><img src="/assets/images/tt-icon.png"></span></div>
    <div class="d-flex"><h6 class="justify-content-center"><a href="../">HOME</a> | <a href="../pages/">NEWS</a> | <a href="../pages/">ACTIVITIES</a> | <a href="../pages/codeB.html">CODE B</a> | <a href="../pages/about.html">ABOUT</a></h6></div>
    </div>