<!-- potential code for a footer -->
<div class="footer pt-3">
    <a href="/"><img src="/assets/images/STEMLOGO.png"></a>
    <div class="container">
        <div class="row w-100 justify-content-center gx-5">
            <div class="col-4">
            <h5>Bolsa Grande High School</h5>
            <div class="d-flex flex-row justify-content-center"><a href="https://www.facebook.com/groups/bghsstem" target="_blank" class="p-2"><img src="/assets/images/fb-icon.png"></a><a href="https://www.instagram.com/bghs_stem_club/" target="_blank" class="p-2"><img src="/assets/images/ig-icon.png"></a></div>
        </div> 
            <div class="col-2">
                <ul>
                    {% for item in site.data.footer limit:3 %}
                    <li><h6><a href="{{ item.href }}"> {{ item.title}} </a></h6></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-2">
                <ul>
                    {% for item in site.data.footer limit:3 offset:continue %}
                    <li><h6 class="px-3 py-0 mx-2 my-1"><a href="{{ item.href }}"> {{ item.title }} </a></h6></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>