
<nav class="navbar navbar-expand-md navbar-dark bg-dark" id="mynavbar">
  <div class="mr-auto">
    <a class="navbar-brand" href="/"><img src="/assets/images/STEMLOGO.png"  width="120px;"></a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav">
      {% for item in site.data.navigation %}
        <li class="nav-item">
          <a class ="nav-link nav-text" href="{{ item.link }}"{% if page.url == item.link %}style="color: white;"{% endif %}>{{ item.name }}</a>
        </li>
      {% endfor %}
        <li class="nav-item ">
          <a class="nav-link btn-sm btn-primary" href="/join.html">&nbsp;&nbsp;Join 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 8 8">
              <path class="arrow" d="M5 0v2h-5v1h5v2l3-2.53-3-2.47z" transform="translate(0 1)" />
            </svg>
        </a>
        </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown Link</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% for item in site.data.navdropdown %}
            <a class="dropdown-item" href="{{ item.link }}">{{ item.name }}</a>
          {% endfor %}
        </div>
      </li> -->
    </ul>
  </div>
</nav>

