.firstImg {
   max-width: 1440px;
   margin: auto;
   img {
      width: 100%;
   filter: brightness(80%);
   }
   position: relative;
}

   
.arrow {
   fill: #fff;

}
$dark:#09071C;
$btn-border-radius-sm: 100px;

.caret {
   position: absolute;
   bottom: 20px;
   left: 50%;
   transition: 200ms;
   &:hover {
      transform: translateY(10px);
   }
}

.imgTxt {
   position: absolute;
   top: 30%;
   color: #fff;
   left: 8%;
   h1 {   
      font-size: 8rem;
   }
   
   text-shadow: 2px 2px 5px black;
}

.footer {
   margin-top: 1%;
   border: 3px solid black;
   
   img {
      width: 32%;
      display: block;
      margin: auto;
      
   }
   h5 {
      width: 30%;
      display: block;
      margin: auto;
      text-align: center;
      font-size: medium;
   }
   .d-flex {
      margin-top: 7px;
      img {
         width: 41px;
      }
   }
}

@media (max-width:576px) {
   .imgTxt {
      top: 25%;
      left: 30%;
      h1 {
         font-size: 400%;
      }
      h2, h3 {
         font-size: 1.5rem;
      }
   }
   
}