// Default colors
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
// Variable overides
$primary:       $blue ;
$secondary:     #474D5A ;
$success:       $green ;
$info:          #0189C7 ;
$warning:       $yellow ;
$danger:        $red ;
$light:         $gray-100 ;
$dark:#09071C;
$btn-border-radius-sm: 100px;


// for header img
.firstImg {
   position: relative;
   max-width: 1440px;
   margin: auto;
   background-repeat: no-repeat;
   img {
      width: 100%;
      filter: brightness(80%);
   }
}

.imgsub {
   opacity: 60%;
   background-color: white;
}

// arrow icon color
.arrow {
   fill: #fff;

}

// caret icon styles
.caret {
   position: absolute;
   bottom: 20px;
   left: 50%;
   transition: 200ms;
   &:hover {
      transform: translateY(10px);
   }
}

// Text overlaping image
.imgTxt {
   color: #fff;
   position: absolute;
   top: 35%;
   left: 10%;
   h1 {   
      font-size: 8rem;
   }
   text-shadow: 2px 2px 5px black;
}

.offCard {
   background-color: #BDBDBD40;
   width: 100%;
   height: 100%;
   border-radius: 1%;
}

.imgcontainer {
   position: relative;
}
.offCardsub {
   font-size: larger;
   position: absolute;
   bottom: 0;
   left: 50%;
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.3);
   transform: translate(-50%, 40%);
   width: 100%;
}

// .imgt {
//    width: 100%;
//    max-width: 210px;
//    min-width: 100px;
//    padding: 20px;
// }

// footer styling
.footer {
   margin-top: 1%;
   background-color: #F0F0F0;
   
   img {
      width: 32%;
      display: block;
      margin: auto;
      max-width: 300px;
   }
   h5 {
      width: 30%;
      display: block;
      margin: auto;
      text-align: center;
      font-size: medium;
   }
   .d-flex {
      margin-top: 7px;
      img {
         width: 41px;
      }
   }
}

.mtlist {
   margin: 5% 5%;
}

// media queries for resizing behavior
@media (max-width:576px) {
   .imgTxt {
      text-align: center;
      top: 30%;
      left: 30%;
      h1 {
         font-size: 400%;
      }
      h2, h3 {
         font-size: 1.5rem;
      }
   }
   .mtlist {
      margin: 0;
      padding: 0;
   }
   
}

.title-text{
   font-family: 'Roboto', sans-serif;
   font-weight:500;
   font-size:67px;
   color:white;
}

.card{
   h2 {
      font-size:2.5rem;
      color:$white;
      text-align: center;
      height:3.5rem;
      margin:0;
   }
}